# Ignore compiled code
Build/
Dist/

# Ignore Visual Studio session files
ipch/
BTH-Gomoku.opensdf
BTH-Gomoku.sdf
BTH-Gomoku.suo

# Ignore backup files
*.dia~

# Ignore data files
Resources/GameData/CreateGameInfo.txt
Resources/GameData/JoinGameInfo.txt